# Turning on text-mode installation (little quicker than GUI)
text

# Setting up authentication and keyboard
auth --enableshadow --passalgo=sha512
keyboard --vckeymap=us --xlayouts='us'

# Installation files source (CentOS-7.0-1406-x86_64-Minimal.iso)
cdrom

# Using only primary disk, ignoring others
ignoredisk --only-use=sda

# Setting up language to English
lang en-US.UTF-8

# Setting up network interface to DHCP
network --bootproto=static --ip=192.168.1.15 --netmask=255.255.255.0 --gateway=192.168.1.254 --nameserver=8.8.8.8 --hostname=test-template-centos-7 --activate

# Root password (remember that plaintext only for information purposes)
rootpw --plaintext root

#Disable firewall
firewall --disabled

# Setting timezone
timezone UTC --utc

# Setting up Security-Enhanced Linux into enforcing
selinux --disabled

# Setting up MBR
bootloader --location=mbr --boot-drive=sda

# Setting up Logical Volume Manager and autopartitioning
clearpart --all --drives=sda --initlabel
part / --grow --fstype=xfs --asprimary --ondisk=sda

#Enabled SSHD at boot
services --enabled=sshd

#REPO
repo --name="CentOS" --baseurl="http://mirror.centos.org/centos/$releasever/os/$basearch/"
repo --name="epel" --baseurl="http://download.fedoraproject.org/pub/epel/7/$basearch"

# Eject cdrom and reboot
reboot --eject

# Installing only packages for minimal install 
%packages
@Core
epel-release
open-vm-tools
%end

#Enable Root login for SSHD
%post --log=/root/ks.log
augtool -s <<EOF
set /files/etc/ssh/sshd_config/PermitRootLogin yes
set /files/etc/ssh/sshd_config/PasswordAuthentication yes
EOF
%end
